// White

$white-500: #fff;
$white-600: #f5f5f5;

$white: $white-500;

// Black

$black-800: #2a2a2a;
$black-900: #121212;

$black: $black-900;

// Gray

$gray-100: #fafafa;
$gray-200: #f3f3f3;
$gray-220: #edecec;
$gray-250: #e7e7e7;
$gray-300: #b8b8b8;
$gray-350: #838383;
$gray-400: #717171;
$gray-500: #414141;
$gray-900: #b8b8b8;

$gray: $gray-500;

// Yellow

$yellow-300: #fff0bd;

// Red

$red-100: #fbf2f2;
$red-200: #e7b5b5;
$red-400: #ed0e00;
$red-500: #ad0000;

$red: $red-500;

// Green

$green-100: #44adb8;
$green-200: #eaf7eb;
