$section-padding: 20px;
$section-width-desktop: 1100px;
$desktop-max-width: 953px;
$transition-default: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 0.4s;
$header-height: 78px;
$header-height-phone: 50px;
