.list {
  padding: 0;
  list-style-image: none;

  & li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.list__button {
  justify-content: flex-start;
  margin: 0;
  padding: 0 3px;
  color: $black;
  background: transparent;
  transition: 0.3s;

  & p {
    margin: 0 10px;
  }

  & svg {
    margin: 0;
    transition: 0.3s;
  }

  &--expand {
    & svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background: transparent;
  }
}
