.list--career {
  margin: 24px 0 0 24px;
  border-left: 2px solid #f3f3f3;

  &-container {
    margin: 0 0 64px;

    & h4 {
      margin: 16px 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  & li {
    margin: 39px 0 39px -24px;
    padding: 0 20px 0 0;
    border-radius: 8px;

    & h4 {
      margin: 9px 0 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    & p {
      margin: 4px 0 9px;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
    }

    &::before {
      min-width: 48px;
      height: 48px;
      margin: 0 24px 0 0;
      background-image: url('/public/Images/ListMarkers/HumanGray.svg');
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }

    &:first-child {
      margin: 0 0 39px -24px;
      background-color: $green-200;

      &::before {
        background-image: url('/public/Images/ListMarkers/Human.svg');
      }
    }

    &:last-child {
      margin: 39px 0 0 -24px;
      background-color: $yellow-300;

      &::before {
        background-image: url('/public/Images/ListMarkers/Star.svg');
      }
    }
  }
}
