{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "alias": {
        "Components": "./src/Components",
        "Styles": "./src/Styles",
        "Utilities": "./src/Utilities",
        "Dictionary": "./src/Dictionary",
        "Pages": "./src/Pages",
        "Hooks": "./src/Hooks",
        "Recoil": "./src/Recoil"
      }
    }]
  ],
  "presets": [
    "@babel/preset-typescript"
  ]
}
