.checkbox {
  &:checked {
    @extend %checkbox-is-checked;
  }
}

$checkboxLabel-size: 18px;
$checkboxLabel-sizeIcon: #{$checkboxLabel-size / 2};

.checkbox-label {
  position: relative;
  padding-left: 25px;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: $checkboxLabel-size;
    height: $checkboxLabel-size;
    border: 2px solid $black;
    border-radius: 2px;
  }

  &::after {
    @include pseudo;
    top: $checkboxLabel-sizeIcon;
    left: $checkboxLabel-sizeIcon;
    width: $checkboxLabel-sizeIcon;
    height: $checkboxLabel-sizeIcon;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 4 3 3 5-5.5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -40%);
  }

  &:hover::before {
    border-color: $gray;
  }

  %checkbox-is-checked + & {
    &::before {
      background-color: $black;
    }

    &:hover::before {
      background-color: $gray;
    }
  }
}
