.section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 $section-padding;

  &--full-width {
    max-width: 100vw;
    padding: 0;
    overflow: hidden;
  }

  &--wide {
    padding: 0 (calc((100vw - $section-width-desktop) / 2));
  }
}
