.home__slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 20px;
  padding: 44px 32px 27px;
  overflow: hidden;
  background: $white-600;
  border-radius: 24px;

  & h2 {
    align-self: flex-start;
    margin: 30px 0 16px;
  }

  & h4 {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }

  & svg {
    z-index: 2;
  }

  &::after {
    position: absolute;
    top: 175px;
    width: 473px;
    height: 473px;
    background: linear-gradient(265.92deg, #d0d0d0 -18.82%, #f3f3f3 22.95%);
    border-radius: 100px;
    transform: rotate(-115.46deg);
    content: '';
  }

  &-text {
    z-index: 2;
  }

  @include media-breakpoint-up(desktop) {
    flex-direction: row;
    justify-content: space-between;
    height: 376px;
    margin: 120px 0;
    padding: 56px 96px 42px;

    & h2 {
      align-self: flex-start;
      margin: 0 0 24px;
    }

    & h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    & svg {
      margin: 0 0 0 70px;
      transform: scale(1.6);
    }

    &::after {
      top: 195px;
      left: -70px;
      width: 679px;
      height: 679px;
      border-radius: 200px;
    }

    &-text {
      width: 430px;
    }
  }
}
